
.titulo-logo {
display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 150px;

}

.titulo {
    display: flex;
    //background-color: grey;
}

.logo {
height: 100px;
margin: 20px;
}

.introduccion {
display: flex;
justify-content: center;
width: 100%;
flex-direction: column;
}

.texto {
max-width: 1000px;
width: 90%;
text-align: justify;
margin: 20px auto;
} 