.titulo-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;

}

.titulo {
    display: flex;
    margin: 10px;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.introduccion {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.texto {
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.7rem;
    line-height: 1.7;
    font-weight: 100;
    max-width: 700px;
    width: 90%;
    text-align: justify;
    margin: 10px auto;
}

.opera-hardware {
    max-width: 1000px;
    width: 250px;
    height: 250px;
    margin: 50px auto;
}


.opera-software {
    max-width: 700px;
    width: 80%;
    height: 80%;
    margin: 70px auto;
}

#h3 {
    font-size: 0.9rem;
    font-weight: 1500;
    margin-top: 40px;
    margin-bottom: 0px;
}

a {
color: black;
}